@using PresentationLayer.ViewModels;
@using DataLayer.Enums;

@*вариант для для dataManager
@model List<DataLayer.Entities.Directory>*@

@model List<DirectoryViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<div class="row">
    <div class="col-md-6">
        <ul>
            @foreach (var item in Model)
            {
            <li>
                @*<h3>@item.Title</h3>*@
                @*<h3>@item.Directory.Title</h3>*@
                <h2>
                    <a asp-action="Index" asp-controller="Page"
                       asp-route-pageId="@item.Directory.Id"
                       asp-route-pageType="@PageEnums.PageType.Directory">
                        @item.Directory.Title
                    </a>
                    |
                    <small>
                        <a asp-action="PageEditor" asp-controller="Page"
                           asp-route-pageId="@item.Directory.Id"
                           asp-route-pageType="@PageEnums.PageType.Directory">
                            Edit
                        </a>
                    </small>
                    |
                    <small>
                        <a asp-action="DeleteDirectory" asp-controller="Page"
                           asp-route-directoryId="@item.Directory.Id">
                            Delete
                        </a>
                    </small>
                    |
                </h2>
                <ul>
                    @if (item.Materials != null)
                    {
                        foreach (var sub in item.Materials)
                        {
                    <li>
                        @*@sub.Title*@
                        @*@sub.Material.Title*@
                        <a asp-action="Index" asp-controller="Page"
                           asp-route-pageId="@sub.Material.Id"
                           asp-route-pageType="@PageEnums.PageType.Material">
                            @sub.Material.Title
                        </a>
                        |
                        <small>
                            <a asp-action="PageEditor" asp-controller="Page"
                               asp-route-pageId="@sub.Material.Id"
                               asp-route-directoryId="@item.Directory.Id"
                               asp-route-pageType="@PageEnums.PageType.Material">
                                EditMaterial
                            </a>
                        </small>
                        |
                        <small>
                            <a asp-action="DeleteMaterial" asp-controller="Page"
                               asp-route-materialId="@sub.Material.Id">
                                DeleteMaterial
                            </a>
                        </small>
                        |
                    </li>
                        }                    
                        <li>
                            <a asp-action="PageEditor" asp-controller="Page"
                               asp-route-pageId="0" 
                               asp-route-directoryId="@item.Directory.Id"
                               asp-route-pageType ="@PageEnums.PageType.Material">
                               CreateMaterial
                            </a>
                        </li>
                    }
                </ul>
            </li>
            }
            <li>
                <a asp-action="PageEditor" asp-controller="Page"
                   asp-route-pageId="0"
                   asp-route-pagetype="@PageEnums.PageType.Directory">
                   <span style="font-size: 13pt; color: purple">CreateDirectory </span>
                </a>
            </li>
        </ul>
    </div>
</div>
